<div class="container"> 
    <form [formGroup]='form'>

        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="username">



            <div *ngIf="fc.username?.errors?.['required']">
                <div class="alert alert-danger" *ngIf='fc.username.touched && fc.username.invalid'>Username is required...</div>
        
            </div>
            <div *ngIf="fc.username?.errors?.['minlength']">
                <div class="alert alert-danger" *ngIf='fc.username.touched && fc.username.invalid'>Username must be atleast 5 characters long...</div>
        
            </div>
            <div *ngIf="fc.username?.errors?.['noSpaceValidator']">
                <div class="alert alert-danger" *ngIf='fc.username.touched && fc.username.invalid'>Username can't contain spaces...</div>
        
            </div>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password">

            <div *ngIf="fc.password?.errors?.['required']">
                <div class="alert alert-danger" *ngIf='fc.password.touched && fc.password.invalid'>Password is required...</div>
        
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>










<!--
     <div class="container mt-5">
    <div class="form-area">

        <form #f = 'ngForm' (ngSubmit)="onSubmit(f)">
       <div class="form-group">
       
       <label>First Name</label>
           <input text="text" placeholder="Full name" class="form-control"  name="fullName" ngModel #fullName='ngModel' (change)="getValue(fullName)" required
           [ngClass]="{'is-invalid' : fullName.touched && fullName.invalid}" minlength="5" maxlength="10"
           >
       </div>
       <div *ngIf="fullName?.errors?.['required']">
        <div class="alert alert-danger" *ngIf='fullName.touched && fullName.invalid'>Full Name is required...</div>

    </div>
    <div *ngIf="fullName?.errors?.['minlength']">
        <div class="alert alert-danger" *ngIf='fullName.touched && fullName.invalid'>Full Name must be atleast 5 characters long...</div>

    </div>


       <div class="form-group">
           <label>Email</label>
           <input text="email" placeholder="Email" class="form-control" name="email" ngModel #email = 'ngModel' pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" required
           [ngClass]="{'is-invalid' : email.touched && email.invalid}" minlength="5" maxlength="10"

           >
           <div *ngIf="email?.errors?.['required']">
            <div class="alert alert-danger" *ngIf='email.touched && email.invalid'>Email is required...</div>
    
        </div>
        <div *ngIf="email?.errors?.['pattern']">
            <div class="alert alert-danger" *ngIf='email.touched && email.invalid'>Invalid email address...</div>
    
        </div>
       </div>


       <div class="form-group">
           <label>Address</label>
           <textarea cols="30" rows="10" placeholder="Address" class="form-control" name="address" ngModel #address='ngModel' required
           [ngClass]="{'is-invalid' : address.touched && address.invalid}" minlength="5" maxlength="10"
           
           ></textarea>
           <div *ngIf="address?.errors?.['required']">
            <div class="alert alert-danger" *ngIf='address.touched && address.invalid'>address is required...</div>
    
        </div>
 
       </div>
       
       <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Submit</button>
       </form>
       
       </div>




        <form [formGroup]='form' (ngSubmit)='onSubmit2()'>
       <div class="form-group">
       
       <label>First Name</label>
           <input text="text" placeholder="Full name" class="form-control"  name="fullName" formControlName="fullName"
           [ngClass]="{'is-invalid': fullName.touched && fullName.invalid}"

           >
           <div class="alert alert-danger" *ngIf='fullname.touched && fullname.invalid'>
            
            
            <div *ngIf="fullname?.errors?.['required']">Full Name is required...</div>
            <div *ngIf="fullname?.errors?.['minlength']">Full Name must be atleast 5 letters long...</div>

        </div>


       </div>






       <div class="form-group">
           <label>Email</label>
           <input text="email" placeholder="Email" class="form-control" name="email" formControlName="email"
           [ngClass]="{'is-invalid': Email.touched && Email.invalid}"

           >


           <div class="alert alert-danger" *ngIf='Email.touched && Email.invalid'>
            
            
            <div *ngIf="Email?.errors?.['required']">Email is required...</div>
            <div *ngIf="Email?.errors?.['email']">Invalid Email...</div>

        </div>
         
       </div>


    <div formGroupName='contactDetails'>


        <div class="form-group">
            <label>Address</label>
            <textarea cols="30" rows="10" placeholder="Address" class="form-control" name="address" formControlName="address"
            [ngClass]="{'is-invalid': Address.touched && Address.invalid}"
            ></textarea>
       
 
            <div class="alert alert-danger" *ngIf="Address.touched && Address.invalid">
             
             
             <div *ngIf="Address?.errors?.['required']">Address is required...</div>
 
         </div>
  
        </div>
        
 
        <div class="form-group">
         <label>Shipping Address</label>
         <textarea cols="30" rows="10" placeholder="Shipping Address" class="form-control" name="address" formControlName="shippingAddress" 
         [ngClass]="{'is-invalid': ShippingAddress.touched && ShippingAddress.invalid}">

         </textarea>
    
 
         <div class="alert alert-danger" *ngIf='ShippingAddress.touched && ShippingAddress.invalid'>
          
          
          <div *ngIf="ShippingAddress?.errors?.['required']">Shipping Address is required...</div>
 
      </div>
 
     </div>
     <div class="form-group">
         <label>Contact No</label>
         <input text="text" placeholder="ContactNo" class="form-control" name="email" formControlName="contactNo"
         [ngClass]="{'is-invalid': Contact.touched && Contact.invalid}"
         >
 
 
         <div class="alert alert-danger" *ngIf='Contact.touched && Contact.invalid'>
          
          
          <div *ngIf="Contact?.errors?.['required']">The Contact is required...</div>
          <div *ngIf="Contact?.errors?.['pattern']">Invalid Contact...</div>
 
      </div>
       
     </div>
 

    </div>


       <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
       </form>
       
       </div>













-->





























































































<!--
<h1 [class.text-red] = "bool">Angular App</h1>

<h1 [style.color] = " bool? 'red' : '' ">Style Binding</h1>

<button (click)="buttonClick()">Click Me</button>
-->
<!--
    <p>{{message}}</p>

    <img src="{{ImageUrl}}" alt="">
<img [src]="ImageUrl" alt="">
    <app-navbar></app-navbar>

<app-post [fromParent]='parentMessage'(messageEvent)='reciveMessage($event)'></app-post>
<p>{{message}}</p> 
<p>{{fromChildOutput}}</p>
-->


<!--<<input type="text" (keyup.enter) = "onKeyup(username.value)" #username>-->

<!--<input type="text" [(ngModel)]="userName" (keyup.enter) = "onKeyup()">-->


<!--
<input type="text" [value]="textValue" (keyup.enter)="onKeyup()">
<br> 
<input type="text" [(ngModel)]="textValue"  (keyup.enter)="onKeyup()">

-->

<!--
<p class="text-center-a">Post form</p>
<br>
<div class="text-center" >
<input type="text" [(ngModel)]="PostForm" class="text-center-b" placeholder="Post title" >
</div>
<br>
<div class="text-center" >
    <textarea [(ngModel)]="PostDetails" placeholder="Post Details" rows="5" cols="33" >

        </textarea>
    
<br>
<div class="text-center" >
    <input type="text" [(ngModel)]="ImageURL" class="text-center-b" placeholder="Post image URL" >
    </div>
    <div class="text-center" >
        <input type="text" [(ngModel)]="url" class="text-center-b" placeholder="Post URL" >
        </div>
    


<h1 [class.background] = " bool2? 'yellow' : '' " class="text-center-a"><span>{{PostForm}}</span></h1>

<p class="text-center-a">{{PostDetails}}</p>
<img src="{{ImageURL}}" alt="">
<input type="checkbox" [(ngModel)]="bool2"> Add background
<br>
<a  [href]="url" target="_blank" [style.display]="url ? 'block': 'none'">Message request</a>



<p>{{postArray}}</p>

<ul>
    <li *ngFor="let post of postArray ">{{post}}</li>
  

</ul>





<p>Fetching Object Array</p>


<button (click)="addNew()">Add New Data</button>



<div *ngIf = 'objectArray.length > 0; then postList else noData' ></div>

<ng-template #postList>

    <ul>
        <li *ngFor="let post of objectArray; let i = index">
            {{post.postTitle }}
            <button (click)="onDelete(i)">Delete</button>
        </li>
    </ul>

</ng-template>

<ng-template #noData>
    <p>There is no Data to fetch...</p>
</ng-template>



<div>
    <button (click)="onClick('step 1')">Step 1</button>
    <button (click)="onClick('step 2')">Step 2</button>
    <button (click)="onClick('step 3')">Step 3</button>


</div>

<div [ngSwitch]="stepForm">



    <div *ngSwitchCase ="'step 1'">Step 1 form</div>

    <div *ngSwitchCase ="'step 2'">Step 2 form</div>
    
    <div *ngSwitchCase ="'step 3'">Step 3 form</div>
    <div *ngSwitchDefault>Something else</div>

</div>



<p>NgStyle Directive</p>


<h1 
[style.color] ="isActive ? 'red' : 'black'"
[style.textTransform] = "isActive ? 'uppercase' : 'lowercase'"
>    Angular Udemy Course</h1>

<h1
[ngStyle] ="{
    color : isActive ? 'red': 'black',
    texTransform: isActive ? 'uppercase' : 'lowercase '

}"

>NgStyle Directive</h1>

<div class="text-center" >
    <h1>User Details</h1>

<input type="text" [(ngModel)]="Name" class="text-center-b" placeholder="Name">
<br>
<input type="text" [(ngModel)]="Email" class="text-center-b" placeholder="E-Mail Address">
<br>
<textarea [(ngModel)]="Address" class="text-center"placeholder="Address">


</textarea>
<br>

<button (click)="save()">Save</button>


<div *ngIf = 'Tabla.length > 0; then MyTable else NoData' ></div>



<ng-template #MyTable>
<table>
   <tr>
    <th>#</th>

<th>Name</th>
<th>Email</th>
<th>Address</th>
<th>Action</th>
    </tr>


    <tr *ngFor="let tabl of Tabla; let i = index">
        
    <td>{{i+1}}</td>
    <td>{{Name}}</td>
    <td>{{Email}}</td>
    <td>{{Address}}</td>
    <td><button (click)="onDelete(i)">Delete</button></td>

    </tr>

</table>

</ng-template>

<ng-template #NoData>

    <h1>Nothing to see here</h1>
</ng-template>


</div>





<h1>{{title | lowercase}}</h1>


<h1>{{count | number }}</h1>
<h1>{{dcValue | number: '1.2-2'}}</h1>

<h1>{{price | currency:"MEX": false: "2.1-1"}}</h1>



<h1>{{today | date: 'shortDate'}}</h1>

<h1>{{today | date: 'short'}}</h1>

<h1>{{postObject | json}}</h1>
<h3>{{.054 | percent: "1.1-1"}}</h3>




<h3>{{postArray | slice : 0:1}}</h3>
<h3>{{userdetails.city | appendCLI}}</h3>
<p>{{dummyText | summary : 50}}</p>

<app-post></app-post>
<app-post-list></app-post-list>


-->























<!--
<div class="container mt-5">
    <div class="form-area">

        <form #f = 'ngForm' (ngSubmit)="onSubmit(f)">
       <div class="form-group">
       
       <label>First Name</label>
           <input type="text" placeholder="Full name" class="form-control"  name="fullName" ngModel #fullName='ngModel' (change)="getValue(fullName)" required
           [ngClass]="{'is-invalid' : fullName.touched && fullName.invalid}" minlength="5" maxlength="10"
           >
       </div>
       <div *ngIf="fullName?.errors?.['required']">
        <div class="alert alert-danger" *ngIf='fullName.touched && fullName.invalid'>Full Name is required...</div>

    </div>
    <div *ngIf="fullName?.errors?.['minlength']">
        <div class="alert alert-danger" *ngIf='fullName.touched && fullName.invalid'>Full Name must be atleast 5 characters long...</div>

    </div>


       <div class="form-group">
           <label>Email</label>
           <input type="email" placeholder="Email" class="form-control" name="email" ngModel #email = 'ngModel' pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" required
           [ngClass]="{'is-invalid' : email.touched && email.invalid}" minlength="5" maxlength="10"

           >
           <div *ngIf="email?.errors?.['required']">
            <div class="alert alert-danger" *ngIf='email.touched && email.invalid'>Email is required...</div>
    
        </div>
        <div *ngIf="email?.errors?.['pattern']">
            <div class="alert alert-danger" *ngIf='email.touched && email.invalid'>Invalid email address...</div>
    
        </div>
       </div>


       <div class="form-group">
           <label>Address</label>
           <textarea cols="30" rows="10" placeholder="Address" class="form-control" name="address" ngModel #address='ngModel' required
           [ngClass]="{'is-invalid' : address.touched && address.invalid}" minlength="5" maxlength="10"
           
           ></textarea>
           <div *ngIf="address?.errors?.['required']">
            <div class="alert alert-danger" *ngIf='address.touched && address.invalid'>address is required...</div>
    
        </div>
 
       </div>
       
       <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Submit</button>
       </form>





       <form [formGroup]="form" (ngSubmit)="onSubmit2()">
        <div class="form-group">
        
        <label>First Name</label>
            <input 
            type="text" 
            placeholder="Full name" 
            class="form-control"  
            name="fullName"
            formControlName="fullName" 
            [ngClass]="{'is-invalid' : fullname.touched && fullname.invalid}"
            >


            <div class="alert alert-danger" *ngIf='fullname.touched && fullname.invalid'> 

            <div *ngIf="fullname.errors?.['required']">The full name is required...</div>

            <div *ngIf="fullname.errors?.['minlength']">The full name must be at least 5 characters long...</div>

            </div>

        </div>
      
 
        <div class="form-group">
            <label>Email</label>
            <input 
            type="email" 
            placeholder="Email" 
            class="form-control" 
            name="email"
            formControlName="email" 
            [ngClass]="{'is-invalid' : Email.touched && Email.invalid}"

            >
            <div class="alert alert-danger" *ngIf='Email.touched && Email.invalid'> 

                <div *ngIf="Email.errors?.['required']">The email is required...</div>
    
                <div *ngIf="Email.errors?.['email']">Invalid Email...</div>
    
                </div>
        </div>
 
 
      

<div formGroupName="contactDetails">

    <div class="form-group">
        <label>Address</label>
        <textarea 
        cols="30" 
        rows="10" 
        placeholder="Address" 
        class="form-control" 
        name="address" 
        formControlName="address"
        [ngClass]="{'is-invalid' : Address.touched && Address.invalid}"

        ></textarea>
        <div class="alert alert-danger" *ngIf='Address.touched && Address.invalid'> 

            <div *ngIf="Address.errors?.['required']">The Address is required...</div>


            </div>
    </div>


    <div class="form-group">
        <label>Shipping Address</label>
        <textarea 
        cols="30" 
        rows="10" 
        placeholder="Shipping Address" 
        class="form-control" 
        name="address" 
        formControlName="shippingAddress"
        [ngClass]="{'is-invalid' : ShippingAddress.touched && ShippingAddress.invalid}"

        ></textarea>
        <div class="alert alert-danger" *ngIf='ShippingAddress.touched && ShippingAddress.invalid'> 

            <div *ngIf="ShippingAddress.errors?.['required']">The Shipping Address is required...</div>


            </div>
    </div>

 
    <div class="form-group">
        <label>contact No</label>
        <input 
        type="text" 
        placeholder="Contact No" 
        class="form-control" 
        name="email"
        formControlName="contactNo" 
        [ngClass]="{'is-invalid' : Contact.touched && Contact.invalid}"

        >
        <div class="alert alert-danger" *ngIf='Contact.touched && Contact.invalid'> 

            <div *ngIf="Contact.errors?.['required']">The Contact is required...</div>

            <div *ngIf="Contact.errors?.['pattern']">Invalid contact is required...</div>

            </div>
    </div>




    <div class="form-group">
        <label for="">Skills</label>
        <input type="text" class="form-control" #skills (keyup.enter)="addSkills(skills)">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let skill of Skills.controls; let i = index">
{{skill.value}}
<a href="" class="btn btn-sm btn-danger" (click)="removeSkills(i)"> x </a>

            </li>
        </ul>

    </div>


</div>

        
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
        </form>
        
       
       </div>
       
       </div>

-->